body{
        background-color: rgb(25, 114, 216);
    }

fieldset{
        background-color: rgb(236, 244, 245);
        border: 1px black solid;
        height: 510px;
        width: 440px;     
        }
  
 #sect{
        background-color: rgb(236, 244, 245);
        }
        
        .tabelaEditavel {
                border:solid 1px;
                width:100%
            }
            
            .tabelaEditavel td {
                border:solid 1px;
            }
            
            .tabelaEditavel .celulaEmEdicao {
                padding: 0;
            }
            
            .tabelaEditavel .celulaEmEdicao input[type=text]{
                width:100%;
                border:0;
                background-color:rgb(255,253,210);
            }
footer{
        color: gainsboro;
        text-align: center;
        margin-top: 120px;
      }

